In [45]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from datetime import datetime
import re

### Cases excel table converting to pandas dataframe

In [70]:
excel_file_cases = pd.read_excel('../../data/samara/cases.xlsx')
cases_table_from_python_to_excel = {'date': 'Дата',
                    'sars_total_cases': 'Всего_орви', 
                    'sars_cases_age_group_1': '0 - 2_орви',
                    'sars_cases_age_group_2': '3 - 6_орви',
                    'sars_cases_age_group_3': '7 - 14_орви',
                    'sars_cases_age_group_4': '15 и ст._орви',
                    'total_population': 'Всего',
                    'population_age_group_1': '0 - 2',
                    'population_age_group_2': '3 - 6',
                    'population_age_group_3': '7 - 14',
                    'population_age_group_4': '15 и ст.',
                    }
cases_table_from_excel_to_python = {key: value for value, key in cases_table_from_python_to_excel.items()}
cases_df = pd.DataFrame(columns=cases_table_from_python_to_excel.keys())
for col_name in cases_df.columns:
    cases_df[col_name] = excel_file_cases[cases_table_from_python_to_excel[col_name]]

In [72]:
def date_extract(input_string):
    matching = re.search(r'(\d{2}\.\d{2}\.\d{4})', input_string)
    if matching:
        date_string = matching.group(1)
        date_object = datetime.strptime(date_string, "%d.%m.%Y")
        return date_object
    else:
        raise Exception("Incorrect date format!")  

cases_df['datetime'] = cases_df['date'].apply(date_extract)
cases_df = cases_df.fillna(float('nan'))
cases_df.head()

,date,sars_total_cases,sars_cases_age_group_1,sars_cases_age_group_2,sars_cases_age_group_3,sars_cases_age_group_4,total_population,population_age_group_1,population_age_group_2,population_age_group_3,population_age_group_4,datetime
0,2010.1 (04.01.2010 - 10.01.2010),2692,726,670,354,942,1161112,35435,44082,74938,1006657,2010-01-04
1,2010.2 (11.01.2010 - 17.01.2010),4240,978,888,658,1716,1161112,35435,44082,74938,1006657,2010-01-11
2,2010.3 (18.01.2010 - 24.01.2010),4915,930,1172,894,1919,1161112,35435,44082,74938,1006657,2010-01-18
3,2010.4 (25.01.2010 - 31.01.2010),6392,1139,1689,1212,2352,1161112,35435,44082,74938,1006657,2010-01-25
4,2010.5 (01.02.2010 - 07.02.2010),7780,1422,2041,1579,2738,1161112,35435,44082,74938,1006657,2010-02-01

### PCR excel table converting to pandas dataframe

In [87]:
excel_file_pcr = pd.read_excel('../../data/samara/pcr.xlsx')
pcr_table_from_excel_to_python = {'date': 'Дата',
                                  'tested_total': 'Число образцов тестированных на грипп',
                                  'tested_strain_1': 'A (субтип не определен)',
                                  'tested_strain_2': 'A(H1)pdm09',
                                  'tested_strain_3': 'A(H3)',
                                  'tested_strain_4': 'B'
                                  }
pcr_table_from_python_to_excel = {key: value for value, key in pcr_table_from_excel_to_python.items()}

In [97]:
pcr_df = pd.DataFrame(columns=pcr_table_from_excel_to_python.keys())
for col_name in pcr_df.columns:
    pcr_df[col_name] = excel_file_pcr[pcr_table_from_excel_to_python[col_name]]
pcr_df = pcr_df.fillna(float('nan'))

In [98]:
strains_number = 4
for strain_index in range(strains_number):
    cases_df['']

,date,tested_total,tested_strain_1,tested_strain_2,tested_strain_3,tested_strain_4
0,2010.1 (04.01.2010 - 10.01.2010),0.0,0.0,0.0,0.0,0.0
1,2010.2 (11.01.2010 - 17.01.2010),46.0,0.0,3.0,0.0,0.0
2,2010.3 (18.01.2010 - 24.01.2010),19.0,0.0,1.0,0.0,0.0
3,2010.4 (25.01.2010 - 31.01.2010),17.0,0.0,0.0,0.0,0.0
4,2010.5 (01.02.2010 - 07.02.2010),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
735,2024.6 (05.02.2024 - 11.02.2024),376.0,0.0,0.0,27.0,0.0
736,2024.7 (12.02.2024 - 18.02.2024),256.0,0.0,0.0,13.0,0.0
737,2024.8 (19.02.2024 - 25.02.2024),288.0,0.0,0.0,12.0,0.0
738,2024.9 (26.02.2024 - 03.03.2024),329.0,0.0,0.0,7.0,1.0
739,2024.10 (04.03.2024 - 10.03.2024),273.0,0.0,0.0,3.0,0.0